<html ng-app="demoMongo" ng-controller="MongoRestController">
<head >
    <title>Registration Page</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        .site-bg {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 0;
            background-image: url(/images/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .site-bg-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(92, 180, 142, 0.4);
        }

    </style>
</head>
<body>
<div class="wrap" style="width:30%;">
    <!-- strat-contact-form -->
    <div class="contact-form" style="width:100%;">
        <!-- start-form -->
        <form class="contact_form"  style="background: #FFF; width:100%;" ng-submit="insertData()" name="contact_form">
            <h1>Sign Up Here</h1>
            <ul>
                <li style="width:100%;">
                    <input type="text" class="textbox1" name="name" placeholder=" Name" ng-model="formData.name" required />
                    <span class="form_hint">Enter your Name</span>
                    <p><img src="images/contact.png" alt=""></p>
                </li>
                <li style="width:100%;">
                    <input type="text" class="textbox1" name="classid" ng-model="formData.classid" placeholder="Class ID" required />
                    <span class="form_hint">Enter your Class ID </span>
                    <p><img src="images/contact.png" alt=""></p>
                </li>
                <li style="width:100%;">
                    <input type="text" class="textbox1" name="course" ng-model="formData.course" placeholder="Course of Study" required />
                    <span class="form_hint">Enter course of study</span>
                    <p><img src="images/contact.png" alt=""></p>
                </li>
                <li style="width:100%;">
                    <input type="Major" name="major" class="textbox2" ng-model="formData.major" placeholder="Major">
                    <p><img src="images/contact.png" alt=""></p>
                </li>
                <li style="width:100%;">
                    <input type="Minor" name="minor" class="textbox2" ng-model="formData.minor" placeholder="Minor">
                    <p><img src="images/contact.png" alt=""></p>
                </li>
            </ul>

            <input type="submit" name="Sign In" style="width:100%;" value="Sign In"/>
            <div class="clear"></div>
            <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember me</label>
            <div class="clear"></div>
        </form>
        <input type="text" name="search" class="textbox2" ng-model="search" placeholder="search keyword">
        <input type="button" class="btn" id="search" style="left: 1%"  ng-click="Search()" value="Search"> &nbsp


        <!-- end-form -->
        <!-- start-account -->
        <div class="clear"></div>
    </div>
    <!-- end-contact-form -->
    <div class="footer">

    </div>
</div>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-resource.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.1.1/angular-sanitize.js"></script>
<script src="js/index.js"></script>
</body>
</html>